<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: 'location.href', // 可选。默认为 location.href
  owner: 'd4wner',
  repo: 'd4wner.github.io',
  oauth: {
    client_id: '6798769490347b8ea1f4',
    client_secret: '5cbb1bd3138fc50dd1f9b144cbbcf769d83f53a5',
  },
})
gitment.render('container')
</script>

<nav class="pagination"></nav>
